h1{

    color: blue;
    font-size: 24px;
    text-align: center;
    background: red;
    font-family: sans-serif;
}

p{
    color: white;
    font-size: 24px;
    text-align: center;
    background: blue;
    font-family: sans-serif;


}